In [3]:
import pandas as pd

In [4]:
BCS3A = pd.read_csv('BCS3A.csv')
BSE5A = pd.read_csv('BSE5A.csv')

BCS3A = BCS3A.drop(['S,NO', 'LG'], axis = 1)
BSE5A = BSE5A.drop(['S,NO', 'LG'], axis = 1)
pd.DataFrame(BCS3A.skew(axis = 0), columns = ['BCS3A'])

                    BCS3A
Quiz (15)        0.428955
Assignment (10) -1.348622
MidTerm (25)     0.221333
Final (50)       0.037214
Total(100)       0.336950
GP              -0.048579

In [7]:
pd.DataFrame(BSE5A.skew(axis = 0), columns = ['BSE5A'])

                    BSE5A
Quiz (15)        0.644344
Assignment (10) -1.532524
MidTerm (25)    -0.091173
Final (50)       0.782847
Total(100)       0.187697
GP              -0.249978

In [5]:
pd.DataFrame(BCS3A.kurtosis(axis = 0), columns = ['BCS3A'])

                    BCS3A
Quiz (15)       -0.326871
Assignment (10)  3.204162
MidTerm (25)    -1.021725
Final (50)      -0.213971
Total(100)       0.007439
GP               0.532765

In [6]:
pd.DataFrame(BSE5A.kurtosis(axis = 0), columns = ['BSE5A'])

                    BSE5A
Quiz (15)       -0.504946
Assignment (10)  1.656938
MidTerm (25)    -1.180353
Final (50)       1.556739
Total(100)       0.069315
GP               0.564364